.gradient-text {
  background: linear-gradient(45deg, #de9d06, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.nb{
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    & h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: hsl(0, 26%, 96%);
        margin: 0;
        font-size: 35px;
    }
    & .logo{
        color: rgb(243, 234, 234);
        font-size: 36px;
        margin-top: 0;
    }
}


